.quiz {
  text-align: center;
  padding-top: 200px;
}

h1 {
  font-size: 40px;
  color: #123c69;
  background-color: #eee2dc;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-group {
  font-size: 20px;
  color: #123c69;
}
