.welcome {
  text-align: center;
}

h2 {
  font-size: 70px;
  padding-top: 50px; 
  padding-bottom: 30px;
  color: #123c69;
}

.mat-card {
  color: #123c69;
  padding-top: 30px;
  padding-bottom: 30px;
  border-style: solid;
}

button {
  color: white;
  background-color: #ac3b61;
}




